.nav {
    border: 1px solid #ccc;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #848484
}
.nav li {
    display:inline;
    border: 4px outset white;
    /*
    margin-left: auto;
    margin-right: auto;
    */
}
.nav a{
    display: inline-block;
    padding: 8px 40px;
    text-decoration: none;
    font-weight: bold;
    color: #FAFAFA;
}
.nav li a:hover {
    color: #c00;
    background-color: #fff;
}

a {
    display: block;
    width: 60px;
}
